/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}


/* Navigation Bar */

.navigation {
	position: fixed;
    width:100%;
    background-color: grey;
    padding: 0.9rem 1.5625rem;
	display: flex;
	z-index: 1;
}

nav a {
	display: flex;
	font-size: 1.25rem;
	margin-left: 1.25rem;
	align-items: center;
	color: black;
}

nav a p {
	margin-left: 1rem;
	color: black;
}

nav .intro {
	margin-left: 3.75rem;
}

nav a img {
    width: 1.875rem;
}


/* Earth Page */

.first-page {
	width: 100%;
    height: 46.875rem;
    background-image: url("../assets/images/earth.jpg");
    background-repeat: no-repeat;
	background-size: 100%;
	background-color: black;
}

.first-page h1 {
	color: white;
	text-align: center;
	padding-top: 18.75rem;
	font-size: 6.25rem; 
}

.first-page p {
	color: white;
	text-align: center;
	font-size: 1.5625rem;
	letter-spacing: 0.15rem;
    line-height: 2rem;
}


/* History */

.history {
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: flex-end
}

.history div {
	display: flex;
	text-align: center;
	flex-direction: column;
	align-items: center;
	width: 20rem;
	padding: 8rem 15rem;
}

.history div:nth-of-type(2) {
	align-self: flex-start;
}

.history img {
	width: 20rem;
}

.history h2 {
	font-size: 2rem;
	padding: 0.7rem;
}

.history p {
	font-size: 1.4rem;
}

/* Last Page */

.last-page {
	width: 100%;
	height: 44.375rem;
	background-image: url("../assets/images/moon.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	color: white;
	display: flex;
	align-items: center;
}

.last-page div {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	height: fit-content;
	justify-content: center;
	width: 90rem;
}

.last-page p{
	padding-top: 1rem;
	font-size: 1.25rem;
	text-align: center
}

.last-page img {
	width: 20rem;
	padding: 0rem 2rem;
}

/* Line */

.line {
	border-left: 6px solid white;
	height: 177rem;
	position: absolute;
	left: 50%;
	margin-left: -3px;
	top: 75%;
  }

  /* Circle */

  .circle1 {
	height: 25px;
	width: 25px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	left: 49.35%;
	margin-left: -3px;
	top: 73%;
  }
  .circle2 {
	height: 25px;
	width: 25px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	left: 49.36%;
	margin-left: -3px;
	bottom: -369%;
  }